.about {
  padding: 60px 0;
  border-top: 1px solid #222;
  text-align: center;
}

.about h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  color: #fff;
  text-align: center;
}

.about p {
  font-size: 1.05rem;
  color: #aaa;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
